$body-bg: #f5f5f5;
//$body-color: #262627;

@import '~bootstrap/scss/bootstrap.scss';

@import '~manrope/index.css';

body,
html {
  font-family: 'Manrope', sans-serif;
}

.card-columns {
  column-count: 2;
}

.card {
  border-radius: 16px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 16px;
  display: inline-block;
}

button:focus {
  outline: none;
}

.top {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: 800;
}

p {
  font-weight: 600;
}

.btn {
  border-radius: 16px;
  border: 1px solid #4d00ca;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 32px;
}

.btn-primary {
  background-color: #4d00ca;
}

.btn-outline-primary {
  color: #4d00ca;
}

.btn-block {
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
